.button {
  border: none;
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 1rem;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  &.primary-button {
    background: linear-gradient(135deg, #e1034d, #ff4d7d);
    box-shadow: 0 10px 25px rgba(225, 3, 77, 0.3);
    color: white;
  }

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: scale(0.9);
  }
}