main {
  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.form-container {
  width: 100%;
  max-width: 420px;

  background: rgba(255, 255, 255, 0.06);

  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  border-radius: 24px;

  padding: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.form-container h1 {
  text-align: center;
  font-size: 2.2rem;
}

.subtitle {
  text-align: center;
  color: #b8b8b8;
  margin-bottom: 1rem;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  font-size: 0.95rem;
  color: white;
}

.input-group input {
  border: 1px solid rgba(255, 255, 255, 0.1);

  background: rgba(255, 255, 255, 0.05);

  color: white;

  padding: 0.9rem 1rem;

  border-radius: 12px;

  outline: none;

  transition: all 0.3s ease;
}

.input-group input:focus {
  border-color: #e1034d;
  box-shadow: 0 0 15px rgba(225, 3, 77, 0.3);
}

.bottom-text {
  text-align: center;
  color: #b8b8b8;
}

a {
  color: #e1034d;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: #ff4d7d;
}